.fire-danger {
	label {
		display: inline;
	}
}

div.questions {
  border: 1px solid rgb(221,221,221);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 90px;
  &.highlight {
    background: rgb(221,221,221);
  }
}

// working off this example:
// http://tympanus.net/codrops/2013/10/15/animated-checkboxes-and-radio-buttons-with-svg/
.content-svg label {
  display: inline-block;
  position: relative;

  font-family: inherit;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;

  margin-top: 8px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 95px;

  vertical-align: top;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  transition: color 0.3s;
}

p.signups {
  margin-bottom: 10px;
  margin-top: 10px;
}

.content-svg input[type="checkbox"] {
  opacity: 0;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

.content-svg input[type="checkbox"] {
  width: 50px;
  height: 50px;
  top: 25%;
  left: 0;
  margin-top: -25px;
  position: absolute;
  cursor: pointer;
}

.content-svg#live-alone label::before {
  width: 50px;
  height: 50px;
  top: 25%;
  left: 0;
  margin-top: -25px;
  position: absolute;
  cursor: pointer;

  background: image-url("signups/live-alone-cropped.svg") no-repeat center center;
  content: '';
  transition: opacity 0.3s;
  width: 100px;
  height: 82px;
  background-size: 100px 82px;
}

.content-svg#with-children label::before {
  width: 50px;
  height: 50px;
  top: 25%;
  left: 0;
  margin-top: -25px;
  position: absolute;
  cursor: pointer;

  background: image-url("signups/live-with-children-cropped.svg") no-repeat center center;
  content: '';
  transition: opacity 0.3s;
  width: 100px;
  height: 82px;
  background-size: 100px 82px;
}

.content-svg#with-pets label::before {
  width: 50px;
  height: 50px;
  top: 25%;
  left: 0;
  margin-top: -25px;
  position: absolute;
  cursor: pointer;

  background: image-url("signups/live-with-pet-cropped.svg") no-repeat center center;
  content: '';
  transition: opacity 0.3s;
  width: 100px;
  height: 82px;
  background-size: 100px 82px;
}


section.main-page form {
  margin-bottom: 0px;
}

div#signup {
margin-bottom: 16px;
}

div.submit {
  text-align: center;
}