<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fire plan actions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://twitter.github.com/bootstrap/examples/hero.html#">Fire Plan</a>
          
          <div class="nav-collapse collapse">
            
            <ul class="nav">
             
              <li class="active"><a href="http://twitter.github.com/bootstrap/examples/hero.html#">Benefits of a fire plan</a></li>
              
              <li><a href="http://twitter.github.com/bootstrap/examples/hero.html#about">Current warnings</a></li>
              
              <li><a href="http://twitter.github.com/bootstrap/examples/hero.html#contact">Contact</a></li>
              
              
                <li><a href="http://twitter.github.com/bootstrap/examples/hero.html#contact">FAQ's</a></li>
              
             
             
             <li>
             <a href="http://twitter.github.com/bootstrap/examples/hero.html#contact">Hi Team: Warrandyte family  |  Sign Out </a>
             </li>
             
               
              </li>
            </ul>
            
            
            
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>We have created your logging details [Team name]</h4>
  and they were emailed to your@email.com
</div>


      <!-- Example row of columns -->
      
      <div class="row">
        
        
        
        <div class="span12">
        	
            
            <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Steps to complete</a>
    <ul class="nav">

<li class="bgColourGreen"><a href="page2.html"><span class="icon-ok"></span> Team Details</a></li>
      <li class="active"><a href="#">Team Tasks</a></li>
      <li><a href="#">Team Summary</a></li>
      
    </ul>
  </div>
</div>
        
        
        </div>
        
        
        <div class="span12">

        
          <h2>Simply  assign the most suitable team member to a task.</h2>
          <p>Completing most of the taks will ensure your team is well prepared in an emergency situation.</p><br>
        


        </div>

      </div>
      
           <!-- beginning tasks -->
      
  <div class="row">
      
      	<div class="span12">
        <br>
        
        <h3 class="headingLevelTwo">
        Primary Actions
          <hr>
        </h3><br>
        </div>
        
        <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Task Tile and image</span></div>
        
         <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Some graphic or main tips</span></div>
         
          <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">How is this helpful? advice</span></div>
         
          <div class="span8 tasksBoxesSmallDescription"><span class="textInsidetaskBoxes">Task Description</span></div>
          
          <div class="span4 tasksBoxesSmallAssign"><span class="textInsidetaskBoxes">Assign Member <span class="smalltext">(Assign multiple members to a task)</span></span>
          <br>
          
          
          <div class="btn-group textInsidetaskBoxes">
  <button class="btn btn-mini">Members</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
  </ul>
</div>
<br>

<div class="textInsidetaskBoxes"><span class="icon-plus"></span></div>

          </div>
   
			
            <div class="span12 extraSpace"></div>
            
     
      <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Task Tile and image</span></div>
        
         <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Some graphic or main tips</span></div>
         
          <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">How is this helpful? advice</span></div>
         
          <div class="span8 tasksBoxesSmallDescription"><span class="textInsidetaskBoxes">Task Description</span></div>
          
          <div class="span4 tasksBoxesSmallAssign"><span class="textInsidetaskBoxes">Assign Member <span class="smalltext">(Assign multiple members to a task)</span></span>
          <br>
          
          
          <div class="btn-group textInsidetaskBoxes">
  <button class="btn btn-mini">Members</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
  </ul>
</div>
<br>

<div class="textInsidetaskBoxes"><span class="icon-plus"></span></div>

          </div>
   
            <div class="span12 extraSpace"></div>
     
     
      <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Task Tile and image</span></div>
        
         <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Some graphic or main tips</span></div>
         
          <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">How is this helpful? advice</span></div>
         
          <div class="span8 tasksBoxesSmallDescription"><span class="textInsidetaskBoxes">Task Description</span></div>
          
          <div class="span4 tasksBoxesSmallAssign"><span class="textInsidetaskBoxes">Assign Member <span class="smalltext">(Assign multiple members to a task)</span></span>
          <br>
          
          
          <div class="btn-group textInsidetaskBoxes">
  <button class="btn btn-mini">Members</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
  </ul>
</div>
<br>

<div class="textInsidetaskBoxes"><span class="icon-plus"></span></div>

          
          
          </div>
   
            <div class="span12 extraSpace"></div>
     
    
            </div>
            
            <div class="row">
      
      	<div class="span12">
        <br>
        
        <h3 class="headingLevelTwo">
        Secondary Actions
          <hr>
        </h3>
        <p>If any of these applies to you, assign a team member to build up your protection.</p>
        <br>
        </div>
        

     
     
      <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Task Tile and image</span></div>
        
         <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Some graphic or main tips</span></div>
         
          <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">How is this helpful? advice</span></div>
         
          <div class="span8 tasksBoxesSmallDescription"><span class="textInsidetaskBoxes">Task Description</span></div>
          
          <div class="span4 tasksBoxesSmallAssign"><span class="textInsidetaskBoxes">Assign Member <span class="smalltext">(Assign multiple members to a task)</span></span>
          <br>
          
          
          <div class="btn-group textInsidetaskBoxes">
  <button class="btn btn-mini">Members</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
  </ul>
</div>
<br>

<div class="textInsidetaskBoxes"><span class="icon-plus"></span></div>

          </div>
   
      
			
            <div class="span12 extraSpace"></div>
     
     
      <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Task Tile and image</span></div>
        
         <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Some graphic or main tips</span></div>
         
          <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">How is this helpful? advice</span></div>
         
          <div class="span8 tasksBoxesSmallDescription"><span class="textInsidetaskBoxes">Task Description</span></div>
          
          <div class="span4 tasksBoxesSmallAssign"><span class="textInsidetaskBoxes">Assign Member <span class="smalltext">(Assign multiple members to a task)</span></span>
          <br>
          
          
          <div class="btn-group textInsidetaskBoxes">
  <button class="btn btn-mini">Members</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
  </ul>
</div>
<br>

<div class="textInsidetaskBoxes"><span class="icon-plus"></span></div>

          </div>
   
            <div class="span12 extraSpace"></div>
     
    
            </div>
            
   

<div class="row">
      
      	<div class="span12">
        <br>
        
        <h3 class="headingLevelTwo">
        Extra Actions
          <hr>
        </h3>
        <p>Gear up all the way and ensure your team is ready to take action.</p>
        <br>
        </div>
        

     
     
      <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Task Tile and image</span></div>
        
         <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Some graphic or main tips</span></div>
         
          <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">How is this helpful? advice</span></div>
         
          <div class="span8 tasksBoxesSmallDescription"><span class="textInsidetaskBoxes">Task Description</span></div>
          
          <div class="span4 tasksBoxesSmallAssign"><span class="textInsidetaskBoxes">Assign Member <span class="smalltext">(Assign multiple members to a task)</span></span>
          <br>
          
          
          <div class="btn-group textInsidetaskBoxes">
  <button class="btn btn-mini">Members</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
  </ul>
</div>
<br>

<div class="textInsidetaskBoxes"><span class="icon-plus"></span></div>

          </div>
   
      
			
            <div class="span12 extraSpace"></div>
     
      <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Task Tile and image</span></div>
        
         <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">Some graphic or main tips</span></div>
         
          <div class="span4 tasksBoxes"><span class="textInsidetaskBoxes">How is this helpful? advice</span></div>
         
          <div class="span8 tasksBoxesSmallDescription"><span class="textInsidetaskBoxes">Task Description</span></div>
          
          <div class="span4 tasksBoxesSmallAssign"><span class="textInsidetaskBoxes">Assign Member <span class="smalltext">(Assign multiple members to a task)</span></span>
          <br>
          
          
          <div class="btn-group textInsidetaskBoxes">
  <button class="btn btn-mini">Members</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
    <li><a href="#">Member Name</a></li>
  </ul>
</div>
<br>

<div class="textInsidetaskBoxes"><span class="icon-plus"></span></div>
          
          </div>
   
			
            <div class="span12 extraSpace"></div>
     
    
            </div>
      
      
      <br>
      <div class="row">
      
      <div class="span5">
       
      </div>
      
      	<div class="span5"></div>
        <div class="span2">
        <p><a href="page3.html" class="btn btn-primary btn-large">Next »</a></p>
        </div>
      
      
      
      </div>
      

      <hr>

      <footer>
        <p>© Company 2012</p>
      </footer>

    </div> <!-- /container -->


  </body>
</html>

<!-- Localized -->
