<div class="row">
  <div class="small-12 columns">
    <!-- TODO: Editing-->
    <h1>{{plan.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <ul class="inline-list">
      <li>
        <h2>Postcode:</h2>
      </li>
      <li>
        <!-- TODO: Editing -->
        <h2>{{plan.postcode}}</h2>
      </li>
    </ul>
  </div>
</div>

<section class="secondary">
  <div class="row">
    <div class="small-12 small-centered columns">
      <dl class="sub-nav">
        {{#events}}
          <dd class="nav-link">
            <!--TODO: Select event-->
            <a on-click="select-event" href="javascript:">{{event.name}}</a>
          </dd>
        {{/events}}
      </dl>
    </div>
  </div>
</section>

<section class="main-page">
  <div class="introduction">
    <div class="row">
      <div class="small-12 large-6 columns">
        <h3>YOUR LIST</h3>
        <table class="allocations">
          <tbody>
            {{#selectedEvent.custom_tasks:i}}
              <tr>
                <td>{{name}}</td>
                <!--TODO: Delete-->
                <td on-click="remove-task" class="allocation-delete"><i class="fi-x"></i></td>
              </tr>
            {{/selectedEvent.custom_tasks}}

            <tr>
              <td colspan="2">
                <div class="row collapse">
                  <div class="small-10 columns">
                    <input class="add-task" type="text" value="{{newTask}}" placeholder="Type here to add a new task" on-keypress="key"/>
                  </div>
                  <div class="small-2 columns">
                    <button class="button prefix add-task" on-click="add-task" disabled="{{newTask.length == 0}}">Add new task</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="small-12 large-6 columns">
        <h3>SUGGESTED LIST</h3>
        <table id="tasks">
          <tbody>
            {{#selectedEvent.public_tasks}}
              <tr>
                <!--TODO: Add to left list-->
                <td class="red-margin"><i class="fi-arrow-left"></i></td>
                <td class="suggested">{{name}}</td>
              </tr>
            {{/selectedEvent.public_tasks}}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="small-12 columns">
      <!--TODO: make this work-->
      <button>Get Ye PDF</button>
    </div>
  </div>
</section>

