
table#allocations.ui-state-highlight {
  border: 2px dashed grey;
}
table#allocations.ui-state-hover {
  border: 2px solid green;
}

div#allocation-lists {
  h3, p {
    text-align: center;
  }
  h3 {
    color: rgb(68, 68, 68);
    margin-top: 15px;
  }
}

td.red-margin {
  padding-left: .8em;
  padding-right: .8em;
  background: rgb(228,107,104);
  h4 {
    color: white;
  }
  &:hover {
    background: #9B4543;
  }
}

td.suggested {
  padding: .6em;
}

td.allocation-signature {
  background: rgb(91,154,168);
  text-align: center;
  h4 {
    color: rgb(147,185,194);
  }
}

td.allocation {
  background: rgb(205,205,205);
  text-align: center;
}

td.add-marker {
  background: rgb(205,205,205);
  text-align: center;
}

// not the greatest, but seems to work...
dd a {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #295D6D;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: default;
  direction: ltr;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  line-height: 22px;
  list-style-position: outside;
  padding-bottom: 2.625px;
  padding-left: 7.875px;
  padding-right: 7.875px;
  padding-top: 2.625px;
  text-decoration: none;
  width: auto;
}
