@import 'variables';

.list-title {
  margin-bottom: 20px;
}

i {
  font-size: x-large;
  color: white;
}

table {
  border-collapse: collapse;
  tr {
    border: 1px solid white;
    td {
      line-height: 19px;
    }
  }
}

.bullet {
  background: #5a9aa8;
  i {
    color: white;
  }
}

$green: #7CAA7A;
td.move-task {
  background: $green;
  &:hover {
    cursor: pointer;
    background: darken($green, 15%);
  }
}

td.suggested {
  padding: .6em;
}

td.allocation-signature {
  background: rgb(91,154,168);
  text-align: center;
  h4 {
    color: rgb(147,185,194);
  }
}

td.allocation-delete {
  text-align: center;
  background: rgb(205,205,205);
  &:hover {
    cursor: pointer;
    background: #d82b27;
  }
}

.add-task {
  margin: 0 !important;
}

// not the greatest, but seems to work...
dd a {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #295D6D;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: default;
  direction: ltr;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  line-height: 22px;
  list-style-position: outside;
  padding-bottom: 2.625px;
  padding-left: 7.875px;
  padding-right: 7.875px;
  padding-top: 2.625px;
  text-decoration: none;
  width: auto;
}
