section#headline {
  background: rgb(91,154,168);
  // padding: 15px 0;
  // overflow: hidden;
}

section#secondary {
  background: rgb(71,125,136);
  // padding: 15px 0;
  // overflow: hidden;
}

section#main-page {
  background: rgb(244,244,244);
  // padding: 15px 0;
  // overflow: hidden;
}




ul#allocations.ui-state-hover {
  /*background: none repeat scroll 0 0 #00FFFF;*/
  border: 3px solid red;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

*:-khtml-drag {
  background-color: rgba(238,238,238, 0.5);
}