@import 'variables';

#ractive-plan-edit {
  .edit form {
    display: inline;
  }

  $events_background: rgb(90,154,168);

  section.meta {
    background-color: $events_background;
    // padding: 20px 0;
    // margin-bottom: 30px;
    .row {
      // padding: 20px 0;
    }
  }


  .plan-name,
  .plan-postcode,
  .plan-create,
  .below-event-name {
    text-align: center;
  }

  .plan-create {
    margin-bottom: 20px;
  }

  .list-title {
    margin-bottom: 20px;
  }

  .events {
    width: 100%;
    border-collapse: collapse;
    tr:nth-of-type(even),
    tr {
      background: #6ba4b1;
      border: 1px solid #5a9aa8;
      cursor: pointer;
      &:hover {
        background: rgb(123,174,185);
      }
    }

    tr.active {
      background: #4b8490;
    }

    .event-number {
      text-align: center;
      font-size: 40px;
      color: white;
      padding: 10px 20px;
    }
    .event-name {
      width: 100%;
      color: white;
      line-height: 2;
      font-weight: bold;
      padding: 10px 40px 10px 0px;
    }
  }

  i {
    font-size: x-large;
    color: white;
  }

  .below-event-name {
    h1 {
      color: #222;
    }
    padding: 30px 50px;
  }

  table.allocations {
    width: 100%;
    border-collapse: collapse;
    tr {
      border: 1px solid white;
      td {
        word-break: break-word;
        line-height: 19px;
        &.content {
          width: 100%;
        }
      }
    }
  }

  .bullet {
    background: #5a9aa8;
    i {
      color: white;
    }
  }

  td.move-task {
    background: #7CAA7A;
  }

  td.suggested {
    padding: .6em;
    word-break: break-word;
  }

  td.allocation-signature {
    background: rgb(91,154,168);
    text-align: center;
    h4 {
      color: rgb(147,185,194);
    }
  }

  td.allocation-delete {
    text-align: center;
    background: rgb(205,205,205);
  }

  .add-task {
    margin: 0 !important;
  }
}

// http://jon.haslett.id.au/post/37391562488/fixing-the-hover-problem-on-touch-screens-with-feature
.no-touch #ractive-plan-edit {
  td.allocation-delete:hover {
    cursor: pointer;
    background: #d82b27;
  }
  td.move-task:hover {
    cursor: pointer;
    background: saturate(#7CAA7A, 30%);
  }
  .edit:hover {
    cursor: text;
    border-bottom: 1px dotted white;
  }
}

.download {
  text-align: center;
  margin-top: 10px;
}
