<div class="small-10 small-centered columns">
  <table class="summary">
    <tr class="">
      <td class="major">
        <span class="emphasise-number"><%= @public_plans.count + @private_plan_count %></span> plans across <span class="emphasise-number"><%= @postcode_count %></span> postcodes!
      </td>
    </tr>
    <tr class="">
      <td class="major">
        <span class="emphasise-number"><%= @private_plan_count %></span> are private plans
      </td>
    </tr>
    <tr onclick="togglePublicPlans()">
      <td class="major">
        <% if @public_plans.count == 1 %>
          <span class="emphasise-number">1</span> public template plan
        <% else %>
          <span class="emphasise-number">@public_plans.count</span> are public template plans
        <% end %>
      </td>
    </tr>
    <% @public_plans.each do |plan| %>
      <tr class="public-plan-content">
        <td class="minor">
          <%= link_to "'#{plan.name}' for postcode #{plan.postcode}", plan_url(plan.public_guid) %>
        </td>
      </tr>
    <% end %>
    </tr>
  </table>
</div>
