<div class='container'>

  <%= render 'visualisation' %>

  <div class='count'>
  People: <%= @people_count %>
  </div>
  <div class='count'>
  Tasks: <%= @task_count %>
  </div>
  <div class='count'>
  Allocations: <%= @allocation_count %>
  </div>

</end>