<section class='headline plan-details'>
  <div class='row'>
    <div class='large-8 columns description'>
      <div class="plan-name">
        <h1>Explore available plans or start your own</h1>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='large-8 columns description'>
      <p>The fastest way to get started is to click 'Quickly get me a plan' and you'll be a couple of short questions away from a downloadable, editable plan of your own.</p>
    </div>
    <div class='large-4 columns use-plan'/>
      <%= link_to new_signup_url, method: :get, class: 'button' do %>
        <i class="fi-check"></i>Quickly get me a plan
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class='large-12 columns description'>
      <p>If you'd rather not rush, below is a representation of all the plans in the system grouped by postcode. Have a look around and find template plans for your area and see which of those have been used by people as a starting point for their own plan. If you choose to 'view' the contents of a template, and you like what you see, you can copy it for yourself, customise it and download it.</p>
    </div>
  </div>
</section>

<section class='main-page'>

  <div class='row show-for-small'>
    <%= render 'summary_view' %>
  </div>

  <div class='row hide-for-small'>
    <%= render 'visualisation' %>
  </div>

</section>

<section class='headline'>
  <div class='row'>
    <div class='small-12 large-12 small-centered large-centered columns submit'>
      <%= link_to new_signup_url, method: :get, class: 'button' do %>
        <i class="fi-check"></i>Quickly get me a plan
      <% end %>
    </div>
  </div>
</section>
