<div class='row' id='footer'>
  <div class='large-12 columns'>
    <p>Questions? Comments? Suggestions? Problems? Please get in touch at <a href="mailto:feedback@whatstheplan.net" target="_top">feedback@whatstheplan.net</a></p>
    <p class='legal'><%= disclaimer %></p>
  </div>
</div>
