<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><%= link_to 'Active Fire Plan Generator', home_index_path(postcode: 3113) %></div>
    </div>
  </div>
</div>
