<div class='contain-to-grid'>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="logo">
        <a href="/">
          <%= image_tag('branding/logo-3.svg', alt: '', title: '') %>
        </a>
      </li>
    </ul>

    <section class="top-bar-section hide-for-mobile show-for-landscape">
      <ul class="right brand">
        <li class="active">
          <% txt = "An initiative of the Warrandyte Community Association" %>
          <a href="http://www.warrandyte.org.au">
            <%= image_tag('branding/wca-logo-re-done.svg', alt: txt, title: txt) %>
          </a>
        </li>
      </ul>
    </section>
  </nav>
</div>