<div class='contain-to-grid'>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "What's the plan", home_index_path %></h1>
      </li>
    </ul>
  </nav>
</div>