<section class='headline plan-details'>
  <div class='row'>
    <div class='large-8 columns description'>
      <div class="plan-name">
        <h1>Customise your plan</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='large-12 columns description'>
      <p>Change the plan name or the postcode, add new tasks, edit or remove existing tasks, add suggested tasks. Make sure you review the tasks under each numbered category before you save as PDF - and keep a link to this page somewhere handy.</p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns plan-editable">
      <h2>Name: <span class="edit-name">{{plan.name}}</span></h2>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns plan-editable">
      <h2>Postcode: <span class="edit-postcode">{{plan.postcode}}</span></h2>
    </div>
  </div>

  <div class="row">
    <div class="small-10 small-centered columns">
      <h5>EVENTS</h5>
      <table class="events">
        {{#events:i}}
        <tr on-click="select-event" class="{{#selectedEvent === .}}active{{/selectedEvent}}">
          <td class="event-number">
            {{i+1}}
          </td>
          <td class="event-name">
            {{event.name}}
          </td>
        </tr>
        {{/events}}
      </table>
    </div>
  </div>

  <div class="row">
    <div class="small-10 small-centered columns">
      <h5>KITS & CONTACTS</h5>
      <table class="events">
        {{#kits:i}}
        <tr on-click="select-event" class="{{#selectedEvent === .}}active{{/selectedEvent}}">
          <td class="event-number">
            {{events.length + i + 1}}
          </td>
          <td class="event-name">
            {{event.name}}
          </td>
        </tr>
        {{/kits}}
      </table>
    </div>
  </div>

</section>

<section class="main-page">

  <div class="row">
    <div class="small-12 below-event-name">
      <h1>{{selectedEvent.event.name}}</h1>
    </div>
  </div>
  <div class="introduction">
    <div class="row">
      <div class="small-12 columns">
        <h3 class="list-title">You have {{selectedEvent.custom_tasks.length}} task{{plural(selectedEvent.custom_tasks.length)}} (double-click to edit)</h3>
        <table class="allocations">
          <tbody>
            {{#selectedEvent.custom_tasks:i}}
            <tr>
              <td class="bullet"></td>
              <td on-click="update-task" class="content {{i}}">{{name}}</td>
              <td on-click="remove-task" class="allocation-delete"><i class="fi-x"></i></td>
            </tr>
            {{/selectedEvent.custom_tasks}}

            <tr>
              <td class="bullet"></td>
              <td colspan="2">
                <div class="row collapse">
                  <div class="small-10 columns">
                    <input class="add-task" type="text" value="{{newTask}}" placeholder="Type here to add a new task" on-keypress="key"/>
                  </div>
                  <div class="small-2 columns">
                    <button class="button prefix add-task" on-click="add-task" disabled="{{newTask.length == 0}}">Add new task</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">

      <div class="small-10 small-centered columns">
        {{#selectedEvent.public_tasks.length}}
        <h3 class="list-title">{{selectedEvent.public_tasks.length}} Suggested Task{{plural(selectedEvent.public_tasks.length)}} (click to add to your list)</h3>
          <ul>
            {{#selectedEvent.public_tasks:i}}
            <li class="move-task" on-click="move-task">
              <i class="fi-arrow-up"></i>
              <span class="suggested">{{name}}</span>
            </li>
            {{/selectedEvent.public_tasks}}
          </ul>
        {{/selectedEvent.public_tasks.length}}
      </div>
    </div>

  </div>
</section>


