<%= include_gon %>
<section id='ractive-allocations'>
</section>

<script id='allocationsTemplate' type='text/ractive'>
  <%= render "plans/allocation_template" %>
</script>

<section class='headline'>
  <div class="row">
    <div class="small-12 large-12 small-centered large-centered columns submit">
      <%= button_to "I'm done, download this plan as a PDF", plan_download_url(:private_guid => @plan.private_guid, :format => :pdf), method: :get, class: 'button' %>
    </div>
  </div>
</section>
