<%= include_gon %>
<section id='ractive-plan-edit'>
</section>

<script id='editTemplate' type='text/ractive'>
  <%= render "plans/edit_template" %>
</script>

<section class='headline'>
  <div class="row">
    <div class="small-12 large-12 small-centered large-centered columns submit">
      <%= link_to plan_download_url(:private_guid => @plan.private_guid, :format => :pdf), method: :get, class: 'button' do %>
        <i class="fi-download"></i>Download this plan as a PDF
      <% end %>

      <span class='button mailto-button'>
        <% link = "mailto:?Subject=Link%20to%20the%20plan%20%27#{@plan.escaped_name}%27&Body=#{plan_edit_url(:private_guid => @plan.private_guid)}" %>
        <i class="fi-mail"></i><a href=<%= link %> target="_top">Email a link to this page</a>
      </span>

    </div>
  </div>
</section>
